frontend/node_modules
frontend/build
frontend/dist
frontend/public
frontend/src
frontend/package-lock.json
frontend/package.json
frontend/tsconfig.json
frontend/tsconfig.app.json
frontend/tsconfig.spec.json
backend/node_modules
backend/build
backend/dist
backend/public
backend/src
backend/package-lock.json
backend/package.json
backend/tsconfig.json
backend/tsconfig.app.json
backend/tsconfig.spec.json